{% extends 'edu/base.html' %}
{% load static %}

{% block main_area %}
    {% if user.is_authenticated%}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right mt-4" href="/edu/create_post/" role="button"><i class="fas fa-pen"></i> 새 글&nbsp;</a>
        {% endif %}
    {% endif %}



        <h1 class="mt-4">모집 프로그램 ✨
            {% if search_info %}<small class="text-muted"> {{ search_info }}</small> {% endif %}
            {% if category %}<span class="badge badge-secondary"> {{ category }} </span>{% endif %}
            {% if tag %}<span class="badge badge-light"><i class="fas fa-tags"></i> {{ tag }}({{ tag.post_set.count }})</span>{% endif %}
        </h1>
            {% if post_list.exists %}
                {% for p in post_list %}
                <!-- Blog Post -->
                <div class="card mb-4" id="post-{{ p.pk }}">
                    {% if p.head_image %}
                        <img class="card-img-top" src="{{ p.head_image.url }}" style="max-width: 60%; margin: 1em;" alt="{{ p }} head image">
                    {% else %}
                        <img class="card-img-top" style = "text-align : center;" src="https://picsum.photos/800/200" alt="random image">
                    {% endif %}    
                    <div class="card-body">
                        {% if p.category %}
                            <span class="badge badge-primary float-right"> {{ p.category }} </span>
                        {% else %}
                            <span class="badge badge-secondary float-right"> 미분류 </span>
                        {% endif %}
                        
                        <h2 class="card-title">{{ p.title }}</h2>
                        {% if p.hook_text %}
                            <h5 class="text-muted"> {{ p.hook_text }}</h5>
                        {% endif %}
                        <!-- <p class="card-text">{{ p.get_content_markdown | truncatewords_html:45 | safe }}</p> -->
                        <p class="card-text"> {{ p.summary }} </p>
                        {% if p.tags.exists %}
                            <i class="fas fa-tags"></i>
                            {% for tag in p.tags.iterator %}
                                <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light"> {{ tag }} </span></a>
                            {% endfor %}
                            <br/>
                            <br/>
                        {% endif %}
                                <a href="{{ p.get_absolute_url }}" class="btn btn-warning"><b>알아보기 &rarr; </b></a>
                    </div>
                    <div class="card-footer text-muted">
                        작성일시 {{ p.created_at }}
                        <a href="#"> {{ p.author | upper }} </a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>
                    <h2> 
                        앗! 🥲 <br>
                    아직 게시물이 없네요!
                    <img src="{% static 'edu/images/search.png' %}" style="max-width: 70%;" > <br>
                   </h2>
                </p>
            {% endif %}
            {% if is_paginated %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
            {% endif %}

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}