{% extends 'edu/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %} 프로그램 생성하기 {% endblock %}

{% block main_area %}
    <h1>프로그램 생성하기</h1>
    <hr/>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form | crispy }}
        <div id="div_id_tags_str">
            <label for="id_tags_str">태그:</label>
            <input type="text" name="tags_str" id="id_tags_str" class="textinput textInput form-control">
        </div>
        <br />
  
        <button type="submit" class="btn btn-primary float-right">제출하기</button>
    </form>
    {{ form.media }}
{% endblock %}
